
*{
    box-sizing: border-box;
}

/*header*/

header{
    width: 100%;
    background-color: #fff;
}
header>div{ 
    position: relative;
    letter-spacing: .13rem;
}
h1{
    width: 85px;
    height: auto;
    margin: 1rem auto;
}
header>div>div{
    right: 0;
}
header>div>nav>ul>li,
header>div>div>ul>li{
    font: 0.9rem/2em "Century Gothic",Helvetica,Arial,"sans-serif";
    padding: 0 10px;
    text-align: center;
    padding: .3rem 0;
}
header>div>nav>ul>li>a,
header>div>div>ul>li>a{
    display: block;
    border: solid 1px #ccc;
    padding: .5rem 0;
}
header>div,
.item-container,
.introduction-container{
    width: 90%;
    margin: 0 auto;
}

/*content*/

.container {
    padding-top: 1rem;
}
.banner-container>figure{
    padding-bottom: 106%;
    width: 100%;
    height: 100%;
    background: url(../images/top_mainvisual_201803.jpg) 50% 50%/cover no-repeat;
}
.banner-container>figure>img{
    display: none;
}

.item-container>div{
    max-width: 1100px;
    margin: 2.3rem auto 0;
    text-transform: uppercase;
}

.item-container li{
    display: inline-block;
    width: 50%;
    text-align: center;
    margin-right: -3px;
    padding: 3%;
}

.item-container li figcaption{
    font: .85rem/1.5em  "Century Gothic",Helvetica,Arial,"sans-serif";
    letter-spacing: .05rem;
    text-align: left;
    padding-left: .2rem;
    padding-top: .3rem;
}

.item-container p a{
    display: inline-block;
    padding: 1.2rem 0;
    text-align: center;
    background-color:#fbfbfb;
    width: 100%; 
    font: 1rem/1.5em "Century Gothic", Helvetica,Arial, "sans-serif" ;
    letter-spacing: .13em;
    margin-top: 2rem;
}
.introduction-container{
    margin-bottom: 5rem;
}
.introduction-container>div{
    margin: 5rem auto 0;
}
.introduction-container>div>div>section,
.introduction-container>div>div>figure{
    width: 100%;
    margin-right: -6px;
    font:0.75rem/1.8em "微軟正黑體", "Microsoft Jheng Hei",Helvetica,Arial,"sans-serif";
}
.address-container::before{
    content: "";
    display: block;
    width: 7px;
    height: 1px;
    background-color: gray;
    margin: 1.6rem 0;
}
.introduction-container>div>div>section>figure{
    margin-top: 3rem;
}
.introduction-container>div>div>section>h2>img{
    height: 104px;
    text-align: left;
}

.introduction-container>div>div>section>p{
    margin-top: 3rem;

}
.introduction-container>div>div>figure{
    display: none;
}

footer{
    background-color: #fbfbfb;
    font: .75rem/2em "Century Gothic",Helvetica,Arial,"sans-serif";
    text-align: center;
    padding: 1rem 1rem;
    letter-spacing: .13rem;
}

@media (min-width:544px){
    h1{
        width: 85px;
        height: auto;
        left: 50%;
    }
    header>div>nav,
    header>div>div{
        display: inline-block;
    }
    header>div>nav{
        width: 60%;
        margin-right: -10px;
    }
    header>div>div{
        width: 40%;
        margin-right: -10px;
    }
    header>div>nav>ul>li,
    header>div>div>ul>li{
        font: 0.9rem/1.5em "Century Gothic",Helvetica,Arial,"sans-serif";
        display: inline-block;
        padding: 0 0.3rem;
    }
    header>div>nav>ul>li{
        width: 33.3%;
        margin-right: -7.5px;
    }
    header>div>div>ul>li{
        width: 50%;
        margin-right: -7px;
    }
    header>div>nav>ul>li>a,
    header>div>div>ul>li>a{
       width: 100%;
    }
    .item-container>div,
    .introduction-container>div{
    margin: 10rem auto 0;
    }
    .item-container li{
        width: 25%;
        margin-right: -6px;
        padding: 1.5%;
    }
    .item-container li figcaption{
        font: .9rem/1.5em "Century Gothic",Helvetica,Arial,"sans-serif";
        padding-left: .3rem;
    }
    .introduction-container {
        margin-bottom: 10rem;
    }
    footer{
        font: .8rem/2em "Century Gothic",Helvetica,Arial,"sans-serif";
        padding: 1.2rem 0;
    }
}

@media (min-width:780px){
    .banner-container,
    {
    width: 90%;
    margin: 0 auto;
    }
    .banner-container>figure{
        padding-bottom: 700px;
    }
    .introduction-container>div>div>section,
    .introduction-container>div>div>figure{
    display: inline-block;
    width: 50%;
    margin-right: -6px;
    font:1rem/1.8em "微軟正黑體", "Microsoft Jheng Hei",Helvetica,Arial,"sans-serif";
    }
    .introduction-container>div>div>section {
        padding-right: 8%;
    }
    .introduction-container>div>div>section>figure{
        display: none;
    }
    .introduction-container>div>div>figure{
        vertical-align:top;
    }
}

@media (min-width:1000px){
    h1 {
        margin: 0 auto;
    }
    header{
        position: fixed;
        top: 0;
        left: 0;
        height: 86px;
    }
    header>div{ 
        letter-spacing: .13rem;
        margin-bottom: 20px;
        height: 66px;
    }
    h1,nav,
    header>div>div{
    position: absolute;
    top: 50%;
    }
    .container{
        padding-top: 86px;
    }
    header>div>nav,
    header>div>div,
    header>div>nav>ul>li,
    header>div>div>ul>li
    {
        width:initial;
     }
    header>div>nav>ul>li>a,
    header>div>div>ul>li>a{
       border: 0;
    }
}


@media (min-width:1500px){
    header{
        height: 132px;
    }
    header>div{ 
        margin-bottom: 32px;
        height: 100px;
    }
    header>div>nav>ul>li,
    header>div>div>ul>li{
    font: 1rem/1.5em "Century Gothic",Helvetica,Arial,"sans-serif";
    padding: 0 15px;
    }
    .container{
        padding-top: 132px;
    }
}